In [3]:
# 載入 NumPy, Pandas 套件
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame([[30,20]], columns=['apples','bananas'])
print(df)

   apples  bananas
0      30       20

In [10]:
df=pd.DataFrame([[30,21],[41,34]], columns=['apples','bananas'], index=['2017 Sales','2018 Sales'])
print(df)

            apples  bananas
2017 Sales      30       21
2018 Sales      41       34

In [7]:
s=[
  ['Austin', 139, 'Sun'],
  ['Dallas', 237, 'Sun'],
  ['Austin', 139, 'Mon'],
  ['Dallas', 456, 'Mon']
]

df=pd.DataFrame(s, columns=['city', 'visitor', 'weekday'])
print(df)
df

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

In [9]:
for day in set(df['weekday']):
    print(day, df[df['weekday']==day]['visitor'].mean())

Sun 188.0
Mon 297.5